/* Utils
------------------------------------------------------------*/

/* fonts */
.en-fonts {
  font-family: $en-fonts;
  font-weight: 500;
  font-style: normal;
}

/* only device */

.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
