/* variables
------------------------------------------------------------*/
$base-width: 1920px;

$main-fonts: "Yu Gothic", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN",
  Meiryo, sans-serif;
$en-fonts: "futura-pt", sans-serif;

//color common
$main-bg-cl: #fff;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;

:root {
  --app-height: 100vh;
}
