/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  main {
    width: 100%;
    height: 100%;
    background-color: $white-cl;
    position: relative;
    z-index: 1;
  }
  // ===== firstview =====
  .fv {
    width: 100%;
    height: 100vh;
    height: var(--app-height);

    &_container {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -2;
      pointer-events: none;
    }

    &_swiper {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  //   ===== heading =====
  .hd {
    position: absolute;
    bottom: calc(100vh + 60px);
    left: 40px;
    z-index: 1;

    @include maxW(1023px) {
      bottom: calc(var(--app-height) + 35px);
      left: 0;
      width: 100%;
      padding: 0 32px;

      h1 svg {
        width: 100%;
        max-width: 350px;
        height: auto;
        margin: 0 auto;
      }
    }

    &_scrolldown {
      --line-height: 90px;
      --line-height-abs: -90px;

      width: 2px;
      height: var(--line-height);
      overflow: hidden;
      margin: 60px auto 0;

      span {
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 50%
        );
        background-position: 0 var(--line-height-abs);
        background-size: 100% 200%;
        animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards
          infinite;
      }

      @keyframes scrolldown {
        0% {
          background-position: 0 var(--line-height-abs);
        }
        75% {
          background-position: 0 0;
        }
        100% {
          background-position: 0 var(--line-height);
        }
      }

      @include maxW(1023px) {
        --line-height: 70px;
        --line-height-abs: -70px;
        margin-top: 27px;
      }
    }
  }

  // ===== intro =====
  .intro {
    height: 100vh;
  }
}
